<!doctype html>
<html lang="fa-IR" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
    <title>خانه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s100.divarcdn.com/static/thewall-assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="64x64" href="../static/images/icons8-brick-wall-64.png" th:href="@{/images/icons8-brick-wall-64.png}">
    <link rel="mask-icon" href="https://s100.divarcdn.com/static/thewall-assets/safari-pinned-tab.svg" color="#a62626">
    <meta name="theme-color" content="#ffffff">

    <link data-chunk="main" rel="stylesheet" href="https://s100.divarcdn.com/statics/2020/07/chunk-1.369c89ae.css">
    <link data-chunk="main" rel="stylesheet" href="https://s100.divarcdn.com/statics/2020/07/chunk-10.de2181b2.css">
    <script type="text/javascript">
        function filter() {
            let city = document.getElementById("search");
            let elements = document.getElementsByClassName("myBtn");
            console.log(city.value);
            for (let i = 0; i < elements.length; i++) {
                let value = elements.item(i);
                if (value.tagName === "DIV") {
                    let v = value.getElementsByTagName('a')[0];
                    let x = v.getElementsByTagName('h2')[0].innerHTML;
                    if(!x.includes(city.value)){
                        value.style.display="none";
                    }else {
                        value.style.display="inherit";
                    }
                }
            }
        }
        console.log("OK");
    </script>
    <style>
        .myBtn {
            background-color: #e6af2e !important;
            border: 0 !important;
        }

        .myLink {
            color: #ececec !important;
        }

        .myBtn:hover {
            background-color: #f5d061 !important;
        }

        #myBtnIn:hover {
            background-color: #f5d061 !important;
        }

    </style>
</head>
<body dir="rtl" data-gr-c-s-loaded="true" cz-shortcut-listen="true" style="background-color: #282f44;">

<div id="app">
    <nav class="ui secondary top fixed navbar menu" style="background-color:#222831!important;">
        <a target="_self" class="" href="/">
            <img src="../static/images/icons8-brick-wall-641.png" alt="" th:src="@{/images/icons8-brick-wall-641.png}" style="transform:
             scale(0.85);border-radius: 8%;">
        </a>


        <div class="menu links">
            <a class="item link myLink" th:href="@{/login}" href="/login"
               sec:authorize="isAnonymous()"
            >ثبت نام/ورود</a>
            <a class="item link myLink" th:href="@{/login}" href="/login"
            sec:authorize="isAuthenticated()">خروج
            </a>
            <a class="item link myLink" href="/my-divar/my-posts">دیوار
                من</a>
            <a href="/" th:href="@{/support}" class="item link myLink">پشتیبانی
            </a><a class="item link myLink" href="/contact">تماس با ما</a>
            <div class="item newButton"><a class="ui button buttons buttons--red divari-colored myBtn" role="button" href="/new">ثبت آگهی</a></div>
        </div>
    </nav>
    <div class="ui fluid container" style="">
        <div class="ui padded grid home" style="padding: 100px;">
            <div class="row" style="margin: auto;padding: 0;">
                <div class="twelve wide computer twelve wide large screen twelve wide tablet twelve wide widescreen column city-home-container" style="background-color: #282f44;">
                    <div class="computer city-home">
                        <div class="ui fluid left icon input">
                            <input type="text" id="search" placeholder="جست&zwnj;و&zwnj;جوی سریع نام شهر..." onchange="filter()">
                            <i aria-hidden="true" class="search icon" style="background-color: #e6af2e!important;"></i>
                        </div>
                        <div class="city-group">
                            <div class="city-group__header myLink">همه&zwnj;ی
                                شهرها
                            </div>
                            <div class="ui doubling five cards">

                                <div th:each="city : ${cities}" class="ui card city myBtn">
                                    <a target="_self" class="button " id="myBtnIn" role="button" th:href="@{/ads/{city}(city=${city.name})}" href="/آبادان" style="color: #ececec !important;border: 0 !important;">
                                        <h2 style="color: #ececec;" th:text="${city.name}">
                                            آبادان</h2>
                                    </a>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



</body></html>