<!doctype html><html lang="fa-IR" dir="rtl" xmlns:th="http://www.thymeleaf.org"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="https://s100.divarcdn.com/static/thewall-assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://s100.divarcdn.com/static/thewall-assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://s100.divarcdn.com/static/thewall-assets/favicon-16x16.png">
  <link rel="mask-icon" href="https://s100.divarcdn.com/static/thewall-assets/safari-pinned-tab.svg" color="#a62626">


  <link data-chunk="main" rel="stylesheet" href="https://s100.divarcdn.com/statics/2020/07/chunk-1.369c89ae.css">
  <link data-chunk="main" rel="stylesheet" href="https://s100.divarcdn.com/statics/2020/07/chunk-10.f61bd3cf.css">

  <style>
    .myBtn {
      background-color: #e6af2e !important;
      border: 0 !important;
    }

    .myLink {
      color: #ececec !important;
    }

    .myBtn:hover {
      background-color: #f5d061 !important;
    }

    #myBtnIn:hover {
      background-color: #f5d061 !important;
    }

    .post-card:after {
      background-color: #f5d061;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      visibility: hidden;
      transition: -webkit-transform .25s ease-out;
      transition: transform .25s ease-out;
      will-change: transform,visibility;
    }</style>
</head>
<body dir="rtl" data-gr-c-s-loaded="true" cz-shortcut-listen="true" style="background-color: #282f44;">
<div id="app">
  <nav class="ui secondary top fixed navbar menu" style="background-color:#222831!important;">
    <a target="_self" class="" href="/">
      <img src="../static/images/icons8-brick-wall-641.png" alt="" th:src="@{/images/icons8-brick-wall-641.png}" style="transform:
             scale(0.85);border-radius: 8%;">
    </a>


    <div class="menu links"><a class="item link myLink" href="/my-divar/my-posts">دیوار
      من</a><a href="https://help.divar.ir" class="item link myLink">پشتیبانی
    </a><a class="item link myLink" href="/contact">تماس با ما</a>
      <div class="item newButton"><a class="ui button buttons buttons--red divari-colored myBtn" role="button" href="/new">ثبت آگهی</a></div>
    </div>
  </nav>
  <div class="col-md-12 p-none browse">
    <div class="sticky-outer-wrapper">
      <div class="sticky-inner-wrapper " style="position:relative;top:0px">
        <aside class="d-xs-none d-lg-block browse__sidebar">
          <div class="p-lr-gutter p-b-gutter filter-box">
            <div class="accordion ui browse-accordion">
              <div class="active title subtitle-16 p-tb-gutter browse-accordion__title browse-accordion__title--always-open" style="
    color: #e6af2e;
">
                دسته&zwnj;بندی&zwnj;ها
              </div>
              <div class="content active browse-accordion__content">
                <div class="browse-accordion__body">
                  <ul class="filter-category-list">
                    <li class="filter-category-list__item filter-category-list__item--inactive">
                      <a class="filter-category-list__item-field filter-category-list__item-link" href="/s/tehran" style="
    color: #ececec;
">همهٔ آگهی&zwnj;ها</a>
                    </li>
                    <li class="filter-category-list__item filter-category-list__item--inactive filter-category-list__item--indented">
                      <a class="filter-category-list__item-field filter-category-list__item-link" href="/s/tehran/real-estate" style="
    color: #ececec;
">املاک</a>
                      <ul class="filter-category-list">
                        <li class="filter-category-list__item filter-category-list__item--active">
                          <div class="filter-category-list__item-field" style="
    color: #f5d061;
">
                            فروش مسکونی
                          </div>

                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div class="active title subtitle-16 p-tb-gutter browse-accordion__title " style="
    color: #e6af2e;
">محل</div><div class="ui fluid left icon input" style="
    height: 2em;
    width: 16em;
    margin-bottom: 1em;
">
                  <input type="text" class=" icon left labeled  city-label">
                </div><div class="title subtitle-16 p-tb-gutter browse-accordion__title " style="
    color: #e6af2e;
">فقط عکس&zwnj;دار<div class="browse-accordion__inline-field"><div class="field-container on-off-field"><input type="checkbox" style="margin-left: 1em;"></div></div></div><div class="active title subtitle-16 p-tb-gutter browse-accordion__title " style="
    color: #e6af2e;
">آگهی&zwnj;دهنده</div><div style="
    color: #e6af2e;
" class="title subtitle-16 p-tb-gutter  ">شخصی&zwnj;<div class="browse-accordion__inline-field"><div class="field-container on-off-field"><input type="checkbox" style="margin-left: 1em;"></div></div></div>

                  <div class="title subtitle-16 p-tb-gutter  " style="
    color: #e6af2e;
">املاک&zwnj;<div class="browse-accordion__inline-field"><div class="field-container on-off-field"><input type="checkbox" style="margin-left: 1em;"></div></div></div><div class="title subtitle-16 p-tb-gutter browse-accordion__title " style="
    color: #e6af2e;
">فقط فوری&zwnj;ها<div class="browse-accordion__inline-field"><div class="field-container on-off-field"><input type="checkbox" style="margin-left: 1em;"></div></div></div>
                </div>
              </div>
              <div class="item newButton"><a class="ui button buttons buttons--red divari-colored myBtn" role="button" href="/new">فیلتر</a></div>
            </div>
          </div>

        </aside>
      </div>
    </div>
    <header class="browse__header">
      <div class="ui fluid left icon input">
        <input type="text" id="search" placeholder="جست&zwnj;و&zwnj;جوی سریع ..." onchange="filter()">
        <i aria-hidden="true" class="search icon" style="background-color: #e6af2e!important;"></i>
      </div>
      <div class="d-lg-none action-bar-container">
        <div class="action-bar">
          <button class="chip chip--active action-bar__action action-bar__action--selected">
            <span>فروش مسکونی</span><span role="button" tabindex="0" class="action-bar__remove"><i aria-hidden="true" class="close icon action-bar__icon"></i></span>
          </button>
          <button class="chip  action-bar__action"><i aria-hidden="true" class="filter icon action-bar__icon"></i>فیلترها
          </button>
        </div>
      </div>
    </header>
    <main class="browse__main">


      <div class="post-list-grid virtual-infinite-scroll">
        <div style="top:0;position:absolute;height:100%;width:100%" class="virtual-infinite-scroll__viewport">
          <div style="padding-top:0px;padding-bottom:0px" class="browse-post-list">


            <div class="col-xs-12 col-sm-6 col-xl-4 p-tb-large p-lr-gutter post-card-item">
              <a class="post-card" href="/v/٤٧متر-فول-امکانات_آپارتمان_تهران_بریانک_دیوار/wXUUwyWC">
                <div class="post-card__content">
                  <div class="subtitle-16 post-card__title" style="
    color: #e6af2e;
">
                    ٤٧متر فول امکانات
                  </div>
                  <div class="body-12 post-card__description" style="
    color: #e6af2e;
">
                    توافقی
                  </div>
                  <div class="body-12 post-card__info"><span class="p-lr-xsmall post-card__info-urgent" style="
    color: #f5d061;
">فوری</span><span class="post-card__info-label" style="color: #ececec !important;">در بریانک</span>
                  </div>
                </div>
                <div class="post-card__image">
                  <picture>
                    <source type="image/webp" srcset="https://s101.divarcdn.com/static/thumbnails/1595166308/wXUUwyWC.webp">
                    <img alt="٤٧متر فول امکانات" title="٤٧متر فول امکانات" src="https://s101.divarcdn.com/static/thumbnails/1595166308/wXUUwyWC.jpg" class="post-card-image"></picture>
                </div>
              </a></div>


          </div>
        </div>
      </div>

    </main>
  </div>
</div>


</body></html>